{% include "head.html.twig"%}
        <style>
        {{ source("./assets/style/board.css") }}
        </style>
    </head>
    <body>
{% block body %}

    {% if sessions is defined %}
            <div id="topbar">
                <div id="stackDraw">
                    <img src="../{{ drawPile[0]['path_to_verso'] }}" alt="stack draw" />
                </div>
                <div id="actions">
                    <div id="actionDraw"> 
                        <button class="action" id="draw">Piocher</button>
                        <button class="action" id="nextDraw">Carte suivante</button>
                        <button class="action" id="shuffle">Mélanger</button>
                    </div>
                    <div id="actionCards">
                        <button class="action" id="discard">Défausser</button>
                        <button class="action" id="backToDraw">Retour pioche</button>
                        <button class="action" id="ungroup">Dégrouper</button>
                        <button class="action" id="applyModif">Appliquer un modificateur</button>
                        <button class="action" id="combine">Combiner</button>
                    </div>
                    <div id="actionDiscard">
                        <button class="action" id="getBack">Récupérer</button>
                        <button class="action" id="nextDiscard">Carte suivante</button>
                    </div>
                </div>
                <div id="stackDiscard">
                    <img src="../{{ discardPile[0]['path_to_verso'] }}" alt="discard pile" />
                </div>
            </div>
            <div id="board">
                <div id="cards">
                    {% for card in gameboard %}
                    <div class="cardContainer">
                        <img src="../{{ card['path_to_recto'] }}" alt="card_{{ card['id'] }}"  class="card" data-id="{{ card['id'] }}"/>
                    </div>
                    {% endfor %}
                </div>
                <div id="boardMenu">
                    <button  id="save">Sauvegarder</button>
                    <button  id="backToMenu">Menu</button>
                </div>
            </div>
    {% else %}
        <script> window.location.href = "/"; </script>
    {% endif %}

{% endblock %}

{% include "footer.html.twig"%}