{% include "head.html.twig"%}
        <style>
        {{ source("./assets/style/board.css") }}
        </style>
    </head>
    <body>
{% block body %}

    {% if sessions is defined %}
            <div id="topbar">
                <div id="stackDraw">
                    <img src="../{{ drawPile[0]['path_to_verso'] }}" alt="stack draw" class="card" draggable="false"/>
                </div>
                <div id="actions">
                    <div id="actionDraw"> 
                        <button class="action" id="draw">Piocher</button>
                        <button class="action" id="nextDraw">Carte suivante</button>
                        <button class="action" id="shuffle">Mélanger</button>
                    </div>
                    <div id="actionCards">
                        <button class="action" id="discard">Défausser</button>
                        <button class="action" id="backToDraw">Retour pioche</button>
                        <button class="action" id="ungroup">Dégrouper</button>
                        <button class="action" id="applyModif">Appliquer un modificateur</button>
                        <button class="action" id="combine">Combiner</button>
                    </div>
                    <div id="actionDiscard">
                        <button class="action" id="getBack">Récupérer</button>
                        <button class="action" id="nextDiscard">Carte suivante</button>
                    </div>
                </div>
                <div id="stackDiscard">
                    <img src="../{{ discardPile[0]['path_to_verso'] }}" alt="discard pile" class="card" draggable="false"/>
                </div>
            </div>
            <div id="board">
                <div id="cards">
                    {% for card in gameboard %}
                    <div class="cardContainer">
                        <img src="../{{ card['path_to_recto'] }}" alt="card_{{ card['id'] }}"  class="card" data-id="{{ card['id'] }}" draggable="false"/>
                    </div>
                    {% endfor %}
                </div>
                <div id="boardMenu">
                    <button  id="save">Sauvegarder</button>
                    <button  id="backToMenu">Menu</button>
                </div>
            </div>
    {% else %}
        <script> window.location.href = "/"; </script>
    {% endif %}

<script>
    let selectedCards = [];
    // Mettre true pour les combinaisons et modificateurs
    let additionMode = false;
    
    // Récupère toutes les cartes présentes dans l'html (visibles)
    let cards = Array.from(document.getElementsByClassName("card"));
    
    // Fonction qui donne l'event listener a une carte
    function selectCardsListener (card) {
        card.addEventListener("click", function() {
                if (selectedCards.includes(card)) {
                card.classList.remove("selected");
                selectedCards.splice(selectedCards.indexOf(card), 1);
            } else {
                if (additionMode == false) {
                    if (selectedCards.length > 0) {
                        selectedCards.forEach(card => {
                            card.classList.remove("selected");
                        });
                        selectedCards = [];
                    }
                }
                card.classList.add("selected");
                selectedCards.push(card);
            }      
        });
    }

    // Donne l'event listener aux cartes déjà visibles 
    cards.forEach(card => {
        selectCardsListener(card);
    });
</script>

{% endblock %}

{% include "footer.html.twig"%}