{% include "head.html.twig"%}
        <style>
        {{ source("./assets/style/board.css") }}
        </style>
    </head>
    <body>
{% block body %}

    {% if sessions is defined %}
            <div id="topbar">
                <div id="stackDraw">
                    <img id="draw" src="../{{ drawPile[0]['path_to_verso'] }}" alt="stack draw" />
                </div>
                <div id="actions">
                    <div id="actionDraw"> 
                        <button class="action" id="draw">Piocher</button>
                        <button class="action" id="nextDraw">Carte suivante</button>
                        <button class="action" id="shuffle">Mélanger</button>
                    </div>
                    <div id="actionCards">
                        <button class="action" id="discard">Défausser</button>
                        <button class="action" id="backToDraw">Retour pioche</button>
                        <button class="action" id="ungroup">Dégrouper</button>
                        <button class="action" id="applyModif">Appliquer un modificateur</button>
                        <button class="action" id="combine">Combiner</button>
                    </div>
                    <div id="actionDiscard">
                        <button class="action" id="getBack">Récupérer</button>
                        <button class="action" id="nextDiscard">Carte suivante</button>
                    </div>
                </div>
                <div id="stackDiscard">
                    <img src="../{{ discardPile[0]['path_to_verso'] }}" alt="discard pile" />
                </div>
            </div>
            <div id="board">
                <div id="cards">
                <img src="../{{ gameboard[0]['path_to_recto'] }}" alt="startCard">
                </div>
                <div id="boardMenu">
                    <button  id="save">Sauvegarder</button>
                    <button  id="backToMenu">Menu</button>
                </div>
            </div>
    {% else %}
        <script> window.location.href = "/"; </script>
    {% endif %}

    <script>
        let  i = 0;

        let drawPile = {{ drawPile|json_encode|raw }};

        document.getElementById("nextDraw").addEventListener("click", draw);

        document.getElementById("shuffle").addEventListener("click", 
            function() {
                drawPile = shuffle(drawPile);
            }
        );

        function draw(){
            let max = {{ drawPile|length }};
            let draw = document.getElementById("draw");
            let path = drawPile[i].path_to_verso;
            if(i < max-1){
                draw.src = `../${path}`;
                i++;
            }else{
                draw.src = `../${path}`;
                i = 0;
            }
        }


        function shuffle(){
            let currentIndex = drawPile.length,  randomIndex;

            // While there remain elements to shuffle.
            while (currentIndex != 0) {

                // Pick a remaining element.
                randomIndex = Math.floor(Math.random() * currentIndex);
                currentIndex--;

                // And swap it with the current element.
                [drawPile[currentIndex], drawPile[randomIndex]] = [
                drawPile[randomIndex], drawPile[currentIndex]];
            }

            return drawPile;
        }
    </script>

{% endblock %}

    </body>
   

{% include "footer.html.twig"%}